$color_1: #DDE6ED;
$color_2: #9DB2BF;
$color_3: #526D82;
$color_4: #27374D;
$color_dark: #000000;
$color_ligth: #ffffff;
$color_gray: #313131;
$color_text: $color_ligth;
$color_background: $color_dark;
