.bg-color-1{
    background-color: $color_1;
}
.bg-color-2{
    background-color: $color_2;
}
.bg-color-3{
    background-color: $color_3;
}
.bg-color-4{
    background-color: $color_4;
}
.bg-color-dark{
    background-color: $color_dark;
}
.bg-color-ligth{
    background-color: $color_ligth;
}
.bg-color-gray{
    background-color: $color_gray;
}
