$container-widths:(
    lg: 100%,
    md: 800px,
    sm: 540px
);

//contenedores variables
.container-sm{
    width: map-get($map: $container-widths, $key: sm);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "box1"
        "box2"
    ;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
}

.container-auto{
    width: map-get($map: $container-widths, $key: md);
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
}
@media screen and (max-width: 900px)
{
    .container-auto{
        width: map-get($map: $container-widths, $key: sm);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "box1"
            "box2"
        ;
        padding-right: 25px;
        padding-left: 25px;
        margin-right: auto;
        margin-left: auto;
    }
}

.container-md{
    width: map-get($map: $container-widths, $key: md);
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
}
.container-lg{
    width: calc(map-get($map: $container-widths, $key: lg) - 50px);
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
}

.container-title{
    background-color: $color-3;
}

.container-group-2u{
    width: map-get($map: $container-widths, $key: sm);
    display: grid;
    grid-template-columns:  50% 50%;
    grid-template-rows: auto;
    gap: 5px;
}

.container-group-3u{
    width: map-get($map: $container-widths, $key: lg);
    display: grid;
    grid-template-columns:  33.33% 33.33% 33.33%;
    grid-template-rows: auto;
    gap: 5px;
}

.container-group-4u{
    width: map-get($map: $container-widths, $key: lg);
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    gap: 5px;
}
//Clases para filas y columnas


.row{
    display:flex;
    height: auto;
}
.col-1{
    width: calc((100% / 10) * 1);
}
.col-2{
    width: calc((100% / 10) * 2);
}
.col-3{
    width: calc((100% / 10) * 3);
}
.col-4{
    width: calc((100% / 10) * 4);
}
.col-5{
    width: calc((100% / 10) * 5);
}
.col-6{
    width: calc((100% / 10) * 6);
}
.col-7{
    width: calc((100% / 10) * 7);
}
.col-8{
    width: calc((100% / 10) * 8);
}
.col-9{
    width: calc((100% / 10) * 9);
}
.col{
    width: 100%;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col{
    overflow-wrap: break-word;
    
}

.colors{
    color: $color-ligth;
}
.color-1{
    background-color: black;
}
.color-2{
    background-color:brown;
}