$Margins: 10px;

form{
    background-color: $color-4;
    margin: $Margins;
    border: 1px solid $color-1;
    border-radius: 5px;
}

 input{
    width: calc(100% - $Margins * 2);
    height: 30px;
    border: 1px solid $color-1;
    background-color: $color-2;
    padding: auto;
    margin: $Margins;
    text-justify:distribute;
    border-radius: 5px;
    color: $color-ligth;
 }
 textarea{
   height: 500px;
   width: calc(100% - $Margins * 2);
   border: 1px solid $color-1;
   background-color: $color-2;
   padding: auto;
   margin: $Margins;
   text-justify:distribute;
   border-radius: 5px;
   resize: vertical;
   color: $color-ligth;
   overflow: scroll;
}
 .input-1{
    height: 30px;
 }
 .input-2{
    height: 60px;
 }
 .input-3{
    height: 90px;
 }
 label{
  margin: $Margins;
  font-style: normal;
  color: $color-ligth;
 }
 .form-title{
    font-size: larger;
    font-weight: bold;
    background-color: $color-2;
    border-bottom: 1px solid $color-1;
    padding: 5px;
 }

 .form-text{
    font-size: normal;
    font-weight: normal;
 }
 select{
    
    height: 25px;
    background-color: $color-2;
    color: $color-ligth;
    margin: $Margins;
    font-style: normal;
    border: 1px solid $color-1;
    padding: auto;
    text-justify:distribute;
    border-radius: 3px;
 }

 .select-1{
    width: 70px;
 }
 .select-2{
    width: 110px;
 }
 .select-3{
    width: 150px;
 }
 
 .form-1{
    display: grid;
    width: calc(100% - $Margins * 2);
    margin: calc($Margins);
    grid-template-rows: 35px, 5fr, 35px;
    grid-template-columns: auto;
 }
 .form-2{
    display: grid;
    gap: 10px;
    margin: calc($Margins);
    grid-template-columns: [first] 1fr, [second] 1fr;
    grid-template-areas:
        "form form"
    ;
 }
 .form-2-rows{
    display: grid;
    width: first;
    grid-template-rows: 35px, 5fr, 35px;
    grid-template-columns: auto;
 }
.checkbox-1{
  display: grid;
  grid-template-columns: [Title] 1fr [Object] 1fr [Spam] 2fr;
  grid-template-areas: 
   "Title Object Spam"
  ;
  justify-content: start;
  align-items: center;
  margin-bottom: 12px;
}

input[type="checkbox"] { 
   
  display: grid;
  place-content: center;
   -webkit-appearance: none;
  appearance: none;
   background-color: $color-4;
   font: inherit;
  color: $color-ligth;
  width: 25px;
  height: 25px;
  border: 1px solid $color-1;
  border-radius: 1px;
  transform: translateY(-0.075em);
}
input[type="checkbox"]::before {
   content: "";
   width: 15px;
   height: 15px;
   transform: scale(0);
   transition: 120ms transform ease-in-out;
   box-shadow: inset 1em 1em white;
 }
 
 input[type="checkbox"]:checked::before {
   transform: scale(1);
 }
 //button
 button{
   min-width: 100px;
   height: 35px;
   color: $color-ligth;
   padding: 5px 10px;
   font-weight: bold;
   cursor: pointer;
   transition: all 0.3s ease;
   position: relative;
   display: inline-block;
   outline: none;
   border-radius: 5px;
   border: none;
   background: $color-3;
 }
 button:hover {
   background-color: $color-2;
 }
 button:active {
   background-color: $color-1;
 }
 .button{
   min-width: 100px;
   height: 35px;
   color: $color-ligth;
   padding: 5px 10px;
   font-weight: bold;
   cursor: pointer;
   transition: all 0.3s ease;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   outline: none;
   border-radius: 5px;
   border: none;
   background: $color-3;
 }
 .button:hover {
   background-color: $color-2;
 }
 .button:active {
   background-color: $color-1;
 }
 