 
.sidebar {
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: $color-4;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: $color-ligth;
    padding: 8px;
    text-decoration: none;
  }
  .sidebar h3 {
    display: block;
    background-color: $color-2;
    color: $color-ligth;
    padding: 15px;
    text-decoration: none;
  }
  .sidebar a.active {
    background-color: $color-1;
    color: $color_text;
  }
  .sidebar a:hover:not(.active) {
    background-color: $color-4;
    color: white;
  }
  
  
  @media screen and (max-width: 1200px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 900px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

//toolbar
 
.toolbar {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: $color-4;
  position: relative;
  height: auto;
}

.toolbar a {
  display: block;
  color: $color-ligth;
  padding: 10px;
  text-decoration: none;
  float: right;
}
.toolbar h3 {
  display: block;
  background-color: $color-2;
  color: $color-ligth;
  padding: 15px;
  text-decoration: none;
}
.toolbar a.active {
  background-color: $color-1;
  color: $color_text;
}
.toolbar a:hover:not(.active) {
  background-color: $color-4;
  color: white;
}


@media screen and (min-width: 1200px) {
  .toolbar {
    width: 100%;
    height: auto;
    position: relative;
    overflow: auto;
  }
  .toolbar a {float: left;}
}


