//MARGIN

.margin-1{
    margin: 10px;
}
.margin-2{
    margin: 20px;
}
.margin-3{
    margin: 30px;
}
.margin-4{
    margin: 40px;
}
.margin-5{
    margin: 50px;
}
.margin-6{
    margin: 60px;
}
.margin-7{
    margin: 70px;
}
.margin-8{
    margin: 80px;
}
.margin-9{
    margin: 90px;
}
.margin-10{
    margin: 100px;
}

//margin-top
.margin-right-1{
    margin-right: 10px;
}
.margin-right-2{
    margin-right: 20px;
}
.margin-right-3{
    margin-right: 30px;
}
.margin-right-4{
    margin-right: 40px;
}
.margin-right-5{
    margin-right: 50px;
}
.margin-right-6{
    margin-right: 60px;
}
.margin-right-7{
    margin-right: 70px;
}
.margin-right-8{
    margin-right: 80px;
}
.margin-right-9{
    margin-right: 90px;
}
.margin-right-10{
    margin-right: 100px;
}

//margin-bottom
.margin-left-1{
    margin-left: 10px;
}
.margin-left-2{
    margin-left: 20px;
}
.margin-left-3{
    margin-left: 30px;
}
.margin-left-4{
    margin-left: 40px;
}
.margin-left-5{
    margin-left: 50px;
}
.margin-left-6{
    margin-left: 60px;
}
.margin-left-7{
    margin-left: 70px;
}
.margin-left-8{
    margin-left: 80px;
}
.margin-left-9{
    margin-left: 90px;
}
.margin-left-10{
    margin-left: 100px;
}

//margin-left
.margin-bottom-1{
    margin-bottom: 10px;
}
.margin-bottom-2{
    margin-bottom: 20px;
}
.margin-bottom-3{
    margin-bottom: 30px;
}
.margin-bottom-4{
    margin-bottom: 40px;
}
.margin-bottom-5{
    margin-bottom: 50px;
}
.margin-bottom-6{
    margin-bottom: 60px;
}
.margin-bottom-7{
    margin-bottom: 70px;
}
.margin-bottom-8{
    margin-bottom: 80px;
}
.margin-bottom-9{
    margin-bottom: 90px;
}
.margin-bottom-10{
    margin-bottom: 100px;
}

//margin-top
.margin-top-1{
    margin-top: 10px;
}
.margin-top-2{
    margin-top: 20px;
}
.margin-top-3{
    margin-top: 30px;
}
.margin-top-4{
    margin-top: 40px;
}
.margin-top-5{
    margin-top: 50px;
}
.margin-top-6{
    margin-top: 60px;
}
.margin-top-7{
    margin-top: 70px;
}
.margin-top-8{
    margin-top: 80px;
}
.margin-top-9{
    margin-top: 90px;
}
.margin-top-10{
    margin-top: 100px;
}
//PADDING

.padding-1{
    padding: 10px;
}
.padding-2{
    padding: 20px;
}
.padding-3{
    padding: 30px;
}
.padding-4{
    padding: 40px;
}
.padding-5{
    padding: 50px;
}
.padding-6{
    padding: 60px;
}
.padding-7{
    padding: 70px;
}
.padding-8{
    padding: 80px;
}
.padding-9{
    padding: 90px;
}
.padding-10{
    padding: 100px;
}

//padding-top
.padding-right-1{
    padding-right: 10px;
}
.padding-right-2{
    padding-right: 20px;
}
.padding-right-3{
    padding-right: 30px;
}
.padding-right-4{
    padding-right: 40px;
}
.padding-right-5{
    padding-right: 50px;
}
.padding-right-6{
    padding-right: 60px;
}
.padding-right-7{
    padding-right: 70px;
}
.padding-right-8{
    padding-right: 80px;
}
.padding-right-9{
    padding-right: 90px;
}
.padding-right-10{
    padding-right: 100px;
}

//padding-bottom
.padding-left-1{
    padding-left: 10px;
}
.padding-left-2{
    padding-left: 20px;
}
.padding-left-3{
    padding-left: 30px;
}
.padding-left-4{
    padding-left: 40px;
}
.padding-left-5{
    padding-left: 50px;
}
.padding-left-6{
    padding-left: 60px;
}
.padding-left-7{
    padding-left: 70px;
}
.padding-left-8{
    padding-left: 80px;
}
.padding-left-9{
    padding-left: 90px;
}
.padding-left-10{
    padding-left: 100px;
}

//padding-left
.padding-bottom-1{
    padding-bottom: 10px;
}
.padding-bottom-2{
    padding-bottom: 20px;
}
.padding-bottom-3{
    padding-bottom: 30px;
}
.padding-bottom-4{
    padding-bottom: 40px;
}
.padding-bottom-5{
    padding-bottom: 50px;
}
.padding-bottom-6{
    padding-bottom: 60px;
}
.padding-bottom-7{
    padding-bottom: 70px;
}
.padding-bottom-8{
    padding-bottom: 80px;
}
.padding-bottom-9{
    padding-bottom: 90px;
}
.padding-bottom-10{
    padding-bottom: 100px;
}

//padding-top
.padding-top-1{
    padding-top: 10px;
}
.padding-top-2{
    padding-top: 20px;
}
.padding-top-3{
    padding-top: 30px;
}
.padding-top-4{
    padding-top: 40px;
}
.padding-top-5{
    padding-top: 50px;
}
.padding-top-6{
    padding-top: 60px;
}
.padding-top-7{
    padding-top: 70px;
}
.padding-top-8{
    padding-top: 80px;
}
.padding-top-9{
    padding-top: 90px;
}
.padding-top-10{
    padding-top: 100px;
}

//BORDER
.border-1{
    border: 10px;
}
.border-2{
    border: 20px;
}
.border-3{
    border: 30px;
}
.border-4{
    border: 40px;
}
.border-5{
    border: 50px;
}
.border-6{
    border: 60px;
}
.border-7{
    border: 70px;
}
.border-8{
    border: 80px;
}
.border-9{
    border: 90px;
}
.border-10{
    border: 100px;
}

//border-top
.border-right-1{
    border-right-width: 10px;
}
.border-right-2{
    border-right: 20px;
}
.border-right-3{
    border-right: 30px;
}
.border-right-4{
    border-right: 40px;
}
.border-right-5{
    border-right: 50px;
}
.border-right-6{
    border-right: 60px;
}
.border-right-7{
    border-right: 70px;
}
.border-right-8{
    border-right: 80px;
}
.border-right-9{
    border-right: 90px;
}
.border-right-10{
    border-right: 100px;
}

//border-bottom
.border-left-1{
    border-left: 10px;
}
.border-left-2{
    border-left: 20px;
}
.border-left-3{
    border-left: 30px;
}
.border-left-4{
    border-left: 40px;
}
.border-left-5{
    border-left: 50px;
}
.border-left-6{
    border-left: 60px;
}
.border-left-7{
    border-left: 70px;
}
.border-left-8{
    border-left: 80px;
}
.border-left-9{
    border-left: 90px;
}
.border-left-10{
    border-left: 100px;
}

//border-left
.border-bottom-1{
    border-bottom: 10px;
}
.border-bottom-2{
    border-bottom: 20px;
}
.border-bottom-3{
    border-bottom: 30px;
}
.border-bottom-4{
    border-bottom: 40px;
}
.border-bottom-5{
    border-bottom: 50px;
}
.border-bottom-6{
    border-bottom: 60px;
}
.border-bottom-7{
    border-bottom: 70px;
}
.border-bottom-8{
    border-bottom: 80px;
}
.border-bottom-9{
    border-bottom: 90px;
}
.border-bottom-10{
    border-bottom: 100px;
}

//border-top
.border-top-1{
    border-top: 10px;
}
.border-top-2{
    border-top: 20px;
}
.border-top-3{
    border-top: 30px;
}
.border-top-4{
    border-top: 40px;
}
.border-top-5{
    border-top: 50px;
}
.border-top-6{
    border-top: 60px;
}
.border-top-7{
    border-top: 70px;
}
.border-top-8{
    border-top: 80px;
}
.border-top-9{
    border-top: 90px;
}
.border-top-10{
    border-top: 100px;
}