
.rounded-1{
    border-radius: 2px;
}
.rounded-2{
    border-radius: 5px;
}
.rounded-3{
    border-radius: 10px;
}
.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}
.rounded-6{
    border-radius: 40px;
}
.rounded-7{
    border-radius: 50px;
}
.rounded-8{
    border-radius: 60px;
}
.rounded-9{
    border-radius: 70px;
}
.rounded-TopLeft-1{
    border-top-left-radius: 2px;
}
.rounded-TopLeft-2{
    border-top-left-radius: 5px;
}
.rounded-TopLeft-3{
    border-top-left-radius: 10px;
}
.rounded-TopLeft-4{
    border-top-left-radius: 20px;
}
.rounded-TopLeft-5{
    border-top-left-radius: 30px;
}
.rounded-TopLeft-6{
    border-top-left-radius: 40px;
}
.rounded-TopLeft-7{
    border-top-left-radius: 50px;
}
.rounded-TopLeft-8{
    border-top-left-radius: 60px;
}
.rounded-TopLeft-9{
    border-top-left-radius: 70px;
}
.rounded-TopRight-1{
    border-top-right-radius: 2px;
}
.rounded-TopRight-2{
    border-top-right-radius: 5px;
}
.rounded-TopRight-3{
    border-top-right-radius: 10px;
}
.rounded-TopRight-4{
    border-top-right-radius: 20px;
}
.rounded-TopRight-5{
    border-top-right-radius: 30px;
}
.rounded-TopRight-6{
    border-top-right-radius: 40px;
}
.rounded-TopRight-7{
    border-top-right-radius: 50px;
}
.rounded-TopRight-8{
    border-top-right-radius: 60px;
}
.rounded-TopRight-9{
    border-top-right-radius: 70px;
}
.rounded-BottomLeft-1{
    border-bottom-left-radius: 2px;
}
.rounded-BottomLeft-2{
    border-bottom-left-radius: 5px;
}
.rounded-BottomLeft-3{
    border-bottom-left-radius: 10px;
}
.rounded-BottomLeft-4{
    border-bottom-left-radius: 20px;
}
.rounded-BottomLeft-5{
    border-bottom-left-radius: 30px;
}
.rounded-BottomLeft-6{
    border-bottom-left-radius: 40px;
}
.rounded-BottomLeft-7{
    border-bottom-left-radius: 50px;
}
.rounded-BottomLeft-8{
    border-bottom-left-radius: 60px;
}
.rounded-BottomLeft-9{
    border-bottom-left-radius: 70px;
}
.rounded-BottomRight-1{
    border-bottom-right-radius: 2px;
}
.rounded-BottomRight-2{
    border-bottom-right-radius: 5px;
}
.rounded-BottomRight-3{
    border-bottom-right-radius: 10px;
}
.rounded-BottomRight-4{
    border-bottom-right-radius: 20px;
}
.rounded-BottomRight-5{
    border-bottom-right-radius: 30px;
}
.rounded-BottomRight-6{
    border-bottom-right-radius: 40px;
}
.rounded-BottomRight-7{
    border-bottom-right-radius: 50px;
}
.rounded-BottomRight-8{
    border-bottom-right-radius: 60px;
}
.rounded-BottomRight-9{
    border-bottom-right-radius: 70px;
}
.rounded{
    border-radius: 100%;
}
.border{
    border: 1px solid $color_1;
}
.border-bottom{
    border-bottom: 1px solid $color_1;
}
.border-top{
    border-top: 1px solid $color_1;
}
.border-left{
    border-left: 1px solid $color_1;
}
.border-rigth{
    border-right: 1px solid $color_1;
}