.shadow-left-1{
    box-shadow: -5px 5px 10px;
}
.shadow-left-2{
    box-shadow: -10px 10px 10px;
}
.shadow-left-3{
    box-shadow: -15px 15px 15px;
}
.shadow-mid-1{
    box-shadow: 0px 5px 10px;
}
.shadow-mid-2{
    box-shadow: 0px 10px 10px;
}
.shadow-mid-3{
    box-shadow: 0px 15px 15px;
}
.shadow-right-1{
    box-shadow: 5px 5px 10px;
}
.shadow-right-2{
    box-shadow: 10px 10px 10px;
}
.shadow-right-3{
    box-shadow: 15px 15px 15px;
}