$color_1: #00FFCA;
$color_2: #05BFDB;
$color_3: #088395;
$color_4: #0A4D68;
$color_dark: #000000;
$color_ligth: #ffffff;
$color_gray: #7d7d7d;
$color_text: $color_ligth;
$color_background: $color_dark;
